body {
    background-image: url("../images/background.jpg");
    /* background-repeat: no-repeat; */
    color: black;
    text-align: center;
}

.jumbotron {
    margin: 0 auto;
    margin-top: 10%;
    background-image:url("../images/school.png");
    box-shadow: 0px 0px 10px;
    border: 2px solid black;
}

.jumbotron h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}
   
h1.blinker.animated.shake {
    transition: 9s;
}
h1.blinker.animated.shake:hover{
    transform:rotateX(360deg);
} 
.jumbotron p {
    font-size: 24px;
    font-weight: bold;
    padding-top: 2%;
}

#question {
    border: 2px solid black;
    border-radius: 25%;
}

#question-form {
    font-size: 16px;
    font-weight: italic;
}

#count-down {
    text-align: center;
    margin-top: 25px;
    text-decoration: underline;
}

#send,
#start {
    margin-top: 5%;
    padding: 10px;
    background-color: teal;
}

input[type="radio"] {
    margin: 0 15px;
    width: 16px;
    height: 16px;
    background: #eeeeee;
    box-shadow: inset 0 0 0 .4em white, 0 0 0 .3em;
    color: #363945;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
}

input[type="radio"]:hover, input[type="radio"]:checked {
  background: #363945;
  box-shadow: inset 0 0 0 .6em white, 0 0 0 .3em;
} 
input[type="radio"]:checked {
    background: #56be8e;
    box-shadow: inset 0 0 0 .4em white, 0 0 0 .3em #56be8e;
}

input[type="radio"]:focus {
    outline: 0;
}

